<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body class="text-center">
    <div class="container"> 
        <br>
        <br> 
        <h1><strong>About</strong></h1>
        <hr class="my-4">

        <p>헬로 여기는 글자를 세주는 워드카운트 웹페이지 입니다.
            <br> HOME로 돌아가서 글자를 세어 보아요</p>
            <hr class="my-4">
        <a href ="{% url 'home' %}">
            <div class="alert-dark" role="alert">
                Home으로 돌아가기
            </div>
        </a>
    </div>
</body>