<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body class="text-center">
   <div class="container">
       <br>
    <main role="main" class="inner cover">
            <h1 class="cover-heading"><strong>word count</strong></h1>
            <br>
            
            
    <a href="{%url 'about'%}"><div class="alert-dark" role="alert">ABOUT</div></a>
    <hr class="my-4">
    <p class="lead">아래에 칸에 입력하시오.</p>

    <form action ="{%url 'result'%}">
        <textarea cols="100" rows="15" name="fulltext"></textarea>
        <br>
        <hr class="my-4">
        <p class="text-center"> <input type="submit" class="btn btn-secondary btn-lg" value="Count!"></p>
    </form>
    
    </div>
</body>